{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <p class="flow-text center">Thanks for visiting! This site is currently under development.
                            Every week an updated version of the site will appear. You can 
                            view the source code on github using this 
                            <a href="https://github.com/tarricsookdeo/galactic-finance" target="_blank">link.</a>
                            This site is being build using Django 2.1.5, and PostgreSQL. The hope
                            is that this site can serve as a fully featured financial services
                            web application. One where users can budget, analyze spending, and 
                            track their investments. Feel free to suggest features, designs, 
                            or collaborate on the project with me. Stay tuned for more announcements!</p>

        <table class="center responsive-text">
        <h3 class="center">Roadmap</h3>
        <thead>
          <tr>
              <th>Feature</th>
              <th>Date Added</th>
              <th>Status</th>
          </tr>
        </thead>

        <tbody>
        <tr>
            <td>Navbar</td>
            <td>1/24/19</td>
            <td>IP</td>
          </tr>
          <tr>
            <td>User Signup and Login</td>
            <td>1/24/19</td>
            <td>IP</td>
          </tr>
          <tr>
            <td>Forgot Password Email</td>
            <td>1/24/19</td>
            <td>IP</td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}